body {
    overflow-x : hidden ;
    margin:0; 
    background-image: url("https://pixfeeds.com/images/animals/kangaroos/1280-155154437-jumping-red-kangaroo.jpg");
    background-size: 100%;
    background-position-y: 20%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-blend-mode: 
    background-color : violet;
    padding : 10px 5px 10px 5px;
}


.HEADER {
    position : absolute ;
    width : 100% ;
    bottom : -100px ;
}

h6{
    font-size : 10px ;
}

p{
    color : white;
    background-color : black
}

#souljaboi{
    width: 250px;
    position : fixed ;
    right: 150px ;
}